<mat-dialog-content *ngIf="level">

  <h3>Level {{level.id}}</h3>

  <h5>Speed = {{level.speed}}</h5>
  <h5>Gift size = {{level.giftSize}}</h5>

  <span>speed</span>
  <mat-slider min="0.02"
    max="0.1"
    step="0.01"
    [(ngModel)]="level.speed"></mat-slider>
  <br>
  <span>gift size</span>
  <mat-slider min="0.1"
    max="1"
    step="0.1"
    [(ngModel)]="level.giftSize"></mat-slider>

  <mat-card *ngFor="let house of level.houses; let i = index">
    <mat-card-subtitle>House {{i + 1}}</mat-card-subtitle>
    <mat-card-content>
      <mat-button-toggle-group #group="matButtonToggleGroup"
        [value]="house.size.name"
        (change)="updateHouseSize(house, group.value)">
        <mat-button-toggle value="small">Small</mat-button-toggle>
        <mat-button-toggle value="medium">Medium</mat-button-toggle>
        <mat-button-toggle value="large">Large</mat-button-toggle>
      </mat-button-toggle-group>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>position</mat-label>
        <input matInput
          [(ngModel)]="house.xPosition">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button
        (click)="removeHouse(i)"
        color="primary">
        <span>Remove house</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <br>
  <br>

  <button mat-raised-button
    (click)="addHouse()"
    color="primary">
    <span>Add house</span>
  </button>

  <button mat-raised-button
    (click)="export()"
    color="primary">
    <span>Export</span>
  </button>

  <button mat-raised-button
    (click)="save()"
    color="primary"
    mat-dialog-close>
    <span>SAVE</span>
  </button>

  <div [innerHTML]="exportData"
    style="user-select: all;"></div>
</mat-dialog-content>