<div class="container full-height"
    style="height: 100%;">
    <button mat-raised-button
        routerLink="/home/menu">
        <mat-icon>menu</mat-icon>
        <span>&nbsp;&nbsp;MENU</span>
    </button>

    <ng-container *ngFor="let level of levels">
        <button mat-raised-button
            routerLink="/home/level/{{level}}">
            Level {{level}}
            <span *ngIf="getBestCore(level)">(Best score: {{getBestCore(level)}})</span>
        </button>
    </ng-container>
</div>