<canvas #canvas></canvas>

<div class="toolbar">
    <div>
        <span *ngIf="gameService.bestScore">{{gameService.bestScore}} best score - </span>
        <span>{{gameService.score}} points</span>
    </div>

    <button mat-icon-button>
        <mat-icon (click)="openMenu()">pause_circle_outline</mat-icon>
    </button>

    <button mat-icon-button
        *ngIf="homeService?.data?.settings.disableAudio">
        <mat-icon (click)="homeService.enableAudio()">volume_off</mat-icon>
    </button>
    <button mat-icon-button
        *ngIf="!homeService?.data?.settings.disableAudio">
        <mat-icon (click)="homeService.disableAudio()">volume_up</mat-icon>
    </button>
</div>

<div #loadingScreen
    class="loading-screen">
    <h2>Loading...</h2>
    <mat-progress-bar mode="determinate"
        [value]="gameService.assetManagerProgress"></mat-progress-bar>
</div>