<canvas #canvas></canvas>

<div class="toolbar">
    <div style="font-size: 2.3em;">
        <span *ngIf="gameService.bestScore"
            class="numbers">
            <span>!</span>
            <ng-container *ngFor="let digit of gameService.bestScore | numberToStringDigitArray">
                <img src="assets/game/images/numbers/{{digit}}.svg" />
            </ng-container>
            <span>-</span>
        </span>
        <span class="numbers">
            <ng-container *ngFor="let digit of gameService.score | numberToStringDigitArray">
                <img src="assets/game/images/numbers/{{digit}}.svg" />
            </ng-container>
        </span>
    </div>

    <button mat-icon-button
        (click)="openMenu()">
        <mat-icon>pause_circle_outline</mat-icon>
    </button>

    <button mat-icon-button
        *ngIf="homeService?.data?.settings.disableAudio"
        (click)="homeService.enableAudio()">
        <mat-icon>volume_off</mat-icon>
    </button>
    <button mat-icon-button
        *ngIf="!homeService?.data?.settings.disableAudio"
        (click)="homeService.disableAudio()">
        <mat-icon>volume_up</mat-icon>
    </button>
</div>

<div #loadingScreen
    class="loading-screen">
    <h2>Loading...</h2>
    <mat-progress-bar mode="determinate"
        [value]="gameService.assetManagerProgress"></mat-progress-bar>
</div>