<canvas #canvas></canvas>

<div class="toolbar">
    <div style="font-size: 2.3em;">
        <span *ngIf="gameService.bestScore"
            class="numbers">
            <span>!</span>
            <ng-container *ngFor="let digit of gameService.bestScore | numberToStringDigitArray">
                <img src="assets/game/images/numbers/{{digit}}.svg" />
            </ng-container>
            <span>-</span>
        </span>
        <span class="numbers">
            <ng-container *ngFor="let digit of gameService.score | numberToStringDigitArray">
                <img src="assets/game/images/numbers/{{digit}}.svg" />
            </ng-container>
        </span>
    </div>

    <button mat-icon-button
        (click)="openMenu()">
        <mat-icon>pause_circle_outline</mat-icon>
    </button>

    <button mat-icon-button
        *ngIf="homeService?.data?.settings.disableAudio"
        (click)="homeService.enableAudio()">
        <mat-icon>volume_off</mat-icon>
    </button>
    <button mat-icon-button
        *ngIf="!homeService?.data?.settings.disableAudio"
        (click)="homeService.disableAudio()">
        <mat-icon>volume_up</mat-icon>
    </button>
</div>

<div #loadingScreen
    class="loading-screen">
    <h2>Loading...</h2>
    <mat-progress-bar mode="determinate"
        [value]="gameService.assetManagerProgress"></mat-progress-bar>
</div>

<!-- <mat-card>
    <mat-card-subtitle>Everything on this demo site is live/working condition. Creating a profile, sending emails, donating
        money, uploading profile pictures and more.</mat-card-subtitle>
</mat-card>

<app-github-readme></app-github-readme>

<ng-container *ngIf="!isProcessing">
    <app-item *ngFor="let item of items"
        [item]="item"></app-item>
</ng-container>

<mat-card *ngIf="!isProcessing && (!items || items?.length === 0) && networkStatus.isOnline">
    No items exist
</mat-card>

<app-network-status #networkStatus></app-network-status>

<mat-spinner *ngIf="isProcessing"></mat-spinner> -->