<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <button mat-raised-button
        routerLink="/home/levels">Play</button>
    <button mat-raised-button
        routerLink="/home/settings">Help & Options</button>
    <button mat-raised-button
        (click)="share()">Share</button>
    <button mat-raised-button
        routerLink="/home/donate">Donate</button>
    <button mat-raised-button
        routerLink="/home/store">Store</button>
</div>