<div class="container full-height bg">
    <img src="assets/game/images/logo.svg" />

    <img src="assets/game/images/buttons/play.svg"
        (click)="play()" />
    <img src="assets/game/images/buttons/share.svg"
        (click)="share()" />
    <img src="assets/game/images/buttons/donate.svg"
        routerLink="/payment" />
    <img src="assets/game/images/buttons/store.svg"
        routerLink="/home/store" />

    <div class="volume-buttons">
        <img src="assets/game/images/buttons/mute.svg"
            *ngIf="!homeService?.data?.settings.disableAudio"
            (click)="homeService.disableAudio()" />
        <img src="assets/game/images/buttons/volume-on.svg"
            *ngIf="homeService?.data?.settings.disableAudio"
            (click)="homeService.enableAudio()" />
    </div>

    <div class="falling-gifts">
        <img src="assets/game/images/gift.svg" />
        <img src="assets/game/images/gift.svg" />
        <img src="assets/game/images/gift.svg" />
        <img src="assets/game/images/gift.svg" />
        <img src="assets/game/images/gift.svg" />
    </div>
</div>