<div class="container full-height">

    <button mat-raised-button
        routerLink="/home/menu">
        <mat-icon>menu</mat-icon>
        <span>&nbsp;&nbsp;MENU</span>
    </button>

    <button mat-raised-button
        *ngIf="!homeService?.data?.settings.disableAudio"
        (click)="homeService.disableAudio()">
        <mat-icon>volume_up</mat-icon>
        <span>&nbsp;&nbsp;MUTE MUSIC</span>
    </button>

    <button mat-raised-button
        *ngIf="homeService?.data?.settings.disableAudio"
        (click)="homeService.enableAudio()">
        <mat-icon>volume_off</mat-icon>
        <span>&nbsp;&nbsp;PLAY MUSIC</span>
    </button>

</div>