<div class="container full-height"
    style="height: 100%;">

    <button mat-raised-button
        routerLink="/home/menu">
        <mat-icon>menu</mat-icon>
        <span>&nbsp;&nbsp;MENU</span>
    </button>

    <button mat-raised-button
        *ngIf="!homeService?.data?.settings.disableAudio"
        (click)="homeService.disableAudio()">
        <mat-icon>volume_up</mat-icon>
        <span>&nbsp;&nbsp;MUTE MUSIC</span>
    </button>

    <button mat-raised-button
        *ngIf="homeService?.data?.settings.disableAudio"
        (click)="homeService.enableAudio()">
        <mat-icon>volume_off</mat-icon>
        <span>&nbsp;&nbsp;PLAY MUSIC</span>
    </button>

    <div style="display: flex; flex-direction: column; justify-content: center; width: 80%;">
        <div>MAP BUILDER</div>
        <div>STEP 1:</div>
        <div>Hit F12 on your keyboard</div>
        <div>STEP 2:</div>
        <div>Go to the Application tab (maybe hidden under show more option ">>")</div>
        <div>STEP 3:</div>
        <div>On the left hand side find the Storge heading and expand "Local Storge"</div>
        <div>STEP 4:</div>
        <div>Click on "https://game.nean.io" under "Local Storge"</div>
        <div>STEP 5:</div>
        <div>On the right hand side there is a table. Under the "Key" column go to the last open row and double click
            in the open space and type in "levels"</div>
        <div>STEP 6:</div>
        <div>In the value column add the following example</div>
        <pre style="user-select: all;"
            [innerHTML]="getJSONExample()"></pre>
        <div>STEP 7:</div>
        <div>The "id" refers to the level meaning id 1 = level 1</div>
        <div>The "speed" refers to the speed the sleigh will go</div>
        <div>The "houses" refers to the list of houses in that level</div>
        <div>The "size" refers to the size of the house and there are 3 options (small, medium, large)</div>
        <div>The "position" refers to the space/distance of the next house. The small house is 3 wide meaning if you
            make the position 1 the next house will be one third of the small house's size away. The medium house is 4
            and large is 6</div>
        <div>STEP 8:</div>
        <div>Refresh the page and the new levels will load in</div>
    </div>
</div>